.logo-image {
    width:85px;
}
.center-image {
    width: 100%;
    max-height: 500px;
}
.small-images {
    width: 225px;
    height: 200px;
}
.small-images-text {
    text-align: center;
}
.line {
    width: 100%;
    border-top: 5px solid rgba(0,0,0,.1);
}
.headersub {
    font-size: 20px;
    line-height: 6px;
    color: gold;
}
.name-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: purple;
    font-weight: bold;
}
.name-container {
    text-align: right;
}
.col-md-6 {
    padding: 1.5em;
}
.col-md-12 {
    padding: 0;
}
.featured-work {
    margin-top: 25px;
    color: darkslategrey;

}
.col-md-4 {
    padding: 0;
    text-align: center;
}